<p>create-vehicle works!</p>
<form [formGroup]="vehicleForm">

    <label>Vehicle</label>
    <input type="text" formControlName="vehicle">
    <br>

    <label>Manufacturer</label>
    <input type="text" formControlName="manufacturer">
    <br>

    <label>Model</label>
    <input type="text" formControlName="model">
    <br>

    <label>Type</label>
    <input type="text" formControlName="type">
    <br>

    <label>Fuel</label>
    <input type="text" formControlName="fuel">
    <br>

    <label>Color</label>
    <input type="text" formControlName="color">
    <br>

    <button (click)="submit()">submit</button>
</form>
