<div class="parent">
    <div class="child1">
        <h3 routerLink="spur">Spur</h3>
        <h3>Dashboard</h3>
        <h3 routerLink="charts">Charts</h3>
        <h3>Components</h3>
        <h3>Layouts</h3>
        <h3>About</h3>
        <h3 routerLink="cart">Cart</h3>
        <h3 routerLink="cars">Cars</h3>
        <h3 routerLink="paytm">Paytm</h3>
        <h3 routerLink="vehicle">Vehicle</h3>
        <h3 routerLink="account">Account</h3>
        <h3 routerLink="iteam">Iteam</h3>
        <h3 routerLink="media">Media</h3>
        <h3 routerLink="create-vehicle">Create-vehicle</h3>
        <h3 routerLink="create-user">Create-user</h3>
        <h3 routerLink="parent">Parent</h3>
        <h3 routerLink="pyment">Pyment</h3>
        <h3 routerLink="product">Product</h3>
        <h3 routerLink="nav">Nav</h3>
        <h3 routerLink="cartlist">Cartlist</h3>
        <h3 routerLink="vehicle-details">Vehicle-details</h3>








        <button (click)="logout()"> logout </button>

    </div>

    <div class="child2">
        <router-outlet></router-outlet>
    </div>
</div>