<p>cars works!</p>
<label>Companys:</label>
<input type="radio" name='general' value="Hond" [(ngModel)]="car">
<label>Honda,</label>
<input type="radio" name='general' value="BMW" [(ngModel)]="car">
<label>BMW,</label>
<input type="radio" name='general' value="AUDO" [(ngModel)]="car">
<label>AUDO</label><BR><BR>

hibdbdbdbdbddbhbhdddvhdb

<img *ngIf="car=='Hond'" src="https://www.bing.com/th?id=OIP.IGo9dQfVWzzhZC_BkKhnogHaEx&w=311&h=200&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2">
<img *ngIf="car=='BMW'" src="https://www.bing.com/th?id=OIP.FspfEEDx4Eqv7-IsrqaYhwHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2">
<img *ngIf="car=='AUDO'" src="https://www.bing.com/th?id=OIP.iC4LckUp_x_Rg4Tp-SRf-QHaEo&w=189&h=106&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2">

<marquee>{{ message }}</marquee>